:root {
    --fraunces: 'Fraunces', serif;
    --lato: 'Lato', sans-serif;
    --lightBrown: #c4a47c;
    --mediumBrown: #604829;
    --darkBrown: #000000;
    --white: #fff;
    --lightGrey: #666;
    --grey: #ACACAC;
}